<%- include("./_layouts/header") %> <% if(typeof cart !== "undefined") { %>
<br />
<h1 class="page-title">My Cart</h1>
<br /><br />
<table class="table table-striped alignmiddle">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th>Subtotal</th>
  </tr>
  <% var total = 0 %> <% cart.forEach((cartItem) => { %> <% var sub =
  parseFloat(cartItem.qty * cartItem.price).toFixed(2) %> <% total += +sub %>
  <tr>
    <td>
      <img class="cartImage" src="<%= cartItem.image %>" alt="" />
    </td>
    <td><%= cartItem.title %></td>
    <td><%= cartItem.price %></td>
    <td><%= cartItem.qty %></td>
    <td>
      <a href="/cart/update/<%= cartItem.title %>?action=add">+</a>&nbsp;
      <a href="/cart/update/<%= cartItem.title %>?action=remove">-</a>&nbsp;
      <a href="/cart/update/<%= cartItem.title %>?action=clear">Clear</a>&nbsp;
    </td>
    <td><%= sub %></td>
  </tr>

  <% }) %>
  <tr>
    <td colspan="6" align="right">
      <b>Total: </b>$<%= parseFloat(total).toFixed(2) %>
    </td>
  </tr>
  <tr>
    <td colspan="5" align="right">
      <a class="clearcart btn btn-danger" href="/cart/clear">Clear Cart</a>
    </td>
    <td colspan="5" align="right">
      <a class="btn btn-primary buynow" href="#">Buy Now</a>
    </td>
  </tr>
</table>

<% } else { %>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>
  $(function() {
    $("a.clearcart").on("click", () => {
      if (!confirm("Confirm Clear Cart!")) return false;
    });
  });
</script>

<%- include("./_layouts/footer") %>
