<%- include("./_layouts/header") %> <% if(typeof cart !== "undefined") { %>
<br />
<h1 class="page-title">My Cart</h1>
<br /><br />
<table class="table table-striped alignmiddle">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th>Subtotal</th>
  </tr>
  <% var total = 0 %> <% cart.forEach((cartItem) => { %> <% var sub =
  parseFloat(cartItem.qty * cartItem.price).toFixed(2) %> <% total += +sub %>
  <tr>
    <td>
      <img class="cartImage" src="<%= cartItem.image %>" alt="" />
    </td>
    <td><%= cartItem.title %></td>
    <td><%= cartItem.price %></td>
    <td><%= cartItem.qty %></td>
    <td>
      <a href="/cart/update/<%= cartItem.title %>?action=add">+</a>&nbsp;
      <a href="/cart/update/<%= cartItem.title %>?action=remove">-</a>&nbsp;
      <a href="/cart/update/<%= cartItem.title %>?action=clear">Clear</a>&nbsp;
    </td>
    <td><%= sub %></td>
  </tr>

  <% }) %>
  <tr>
    <td colspan="6" align="right">
      <b>Total: </b>Rs. <%= parseFloat(total).toFixed(2) %>
    </td>
  </tr>
  <tr>
    <td colspan="5" align="right">
      <a class="clearcart btn btn-danger" href="/cart/clear">Clear Cart</a>
    </td>
    <td colspan="5" align="right">
      <a class="buynow btn btn-primary" href="/cart/buynow">Buy Now</a>
    </td>
  </tr>
</table>

<!-- Paypal form -->
<form
  class="pay"
  action="https://www.sandbox.paypal.com/cgi-bin/websrc"
  method="post"
>
  <input type="hidden" name="cmd" value="_cart" />
  <input type="hidden" name="uplaod" value="1" />

  <input type="hidden" name="business" value="nbsshoppingmerchant@gmail.com" />
  <% var num = 0 %> <% cart.forEach((cartItem) => { %> <% num++ %>
  <input
    type="hidden"
    name="item_name_<%= num %>"
    value="<%= cartItem.title %>"
  />
  <input type="hidden" name="amount_<%= num %>" value="<%= cartItem.price %>" />
  <input type="hidden" name="quantity_<%= num %>" value="<%= cartItem.qty %>" />
  <% }) %>
  <input type="hidden" name="currency_code" value="USD" />
  <input type="hidden" name="amount" value="<%= total %>" />
  <input
    type="image"
    src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif"
    name="submit"
    alt="Make payments with PayPal - it's fast, free and secure!"
  />
</form>

<% } else { %>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>
  $(function() {
    $("a.clearcart").on("click", () => {
      if (!confirm("Confirm Clear Cart!")) return false;
    });

    $("a.buynow").on("click", e => {
      e.preventDefault();
      $.get("/cart/buynow", () => {
        $("form.pay input[type=image]").click();
        $(".ajaxbg").show();
      });
    });
  });
</script>

<%- include("./_layouts/footer") %>
