<%- include("./_layouts/header") %>
<h1 class="page-header"><%= product.title %></h1>
<hr />
<div class="row">
  <div class="col-xs-12 col-md-5">
    <img
      class="productImage"
      src="/productImages/<%= product.id %>/<%= product.image%>"
      alt=""
    />
    <br />
  </div>
  <div class="col-xs-12 col-md-7">
    <p><%= product.desc %></p>
    <p>Rs. <%= parseFloat(product.price).toFixed(2) %></p>
    <p><a href="/cart/add/<%= product.slug %>">Add to cart</a></p>
  </div>
  <div class="col-xs-12">
    <ul class="gallery">
      <% galleryImages.forEach((image) => { %> <% if(image != "thumbs"){ %>
      <li>
        <a
          data-fancybox="gallery"
          href="/productImages/<%= product.id %>/gallery/<%= image %>"
        >
          <img
            src="/productImages/<%= product.id %>/gallery/thumbs/<%= image %>"
            alt=""
          />
        </a>
      </li>
      <% } %> <% }) %>
    </ul>
  </div>
</div>
<%- include("./_layouts/footer") %>
